@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  background-color: rgb(236, 233, 238);
  font-family: "Pixelify Sans", cursive;
}
.par {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}
.head {
  background-color: rgb(125, 82, 136);
  height: 10%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 50px;
  font-size: 50px;
  color: rgb(236, 233, 238);
}
h2 {
}
.frm {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 50%;
  width: 70%;
}
input,
select {
  height: 60px;
  width: 300px;
  margin: 40px;
  font-size: 27px;
  color: rgb(152, 108, 194);
  border-radius: 7px;
  border-color: rgba(197, 127, 255, 0.692);
  transition: transform 1s;
  font-family: "Pixelify Sans", sans-serif;
}
input::placeholder {
  color: rgb(152, 108, 194);
}

input:hover,
select:hover {
  transform: translateX(3px);
}
select:focus,
input:focus {
  border: 2px dotted rgba(74, 42, 100, 0.897);
  outline: none;
  box-shadow: 0 0 20px rgb(216, 154, 231);
}
p {
  margin-bottom: 250px;
  border: 0.1px rgba(197, 127, 255, 0.692) dotted;
  height: 250px;
  width: 500px;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 10px rgb(216, 154, 231);
  color: rgb(105, 44, 146);
}
.img1 {
  height: 300px;
  width: 300px;
  border-radius: 150px;
  z-index: 1;
  box-shadow: 0 0 20px rgb(190, 166, 196);
  transition: transform 2s;
}
.img1:hover {
  transform: translateY(-12px);
  box-shadow: 0 0 20px rgb(125, 82, 136);
}
.im {
  height: 100px;
  width: 100;

  z-index: 1;
}
